<%if @url%>
	<p>dfghjk</p>
	<a href="%=@url%">Click=)</a>
<%end%>
<form method="get" action="/dropbox_sign_in">
		<input required type="text" name="access_token">
		<input type="submit" value="Send key" name="submit">
</form>