  <script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">  
    <div class="rg-image-wrapper">

        <div class="rg-image-nav">
          <a href="#" class="rg-image-nav-prev">Previous Image</a>
          <a href="#" class="rg-image-nav-next">Next Image</a>
        </div>

      <div class="rg-image"></div>
      <div class="rg-loading"></div>
      <div class="rg-caption-wrapper">
        <div class="rg-caption" style="display:none;">
          <p></p>
        </div>
      </div>
    </div>
  </script>
  <div id="rg-gallery" class="rg-gallery">
    <div class="rg-thumbs">
      <div class="es-carousel-wrapper">
        <div class="es-nav">
          <span class="es-nav-prev">Previous</span>
          <span class="es-nav-next">Next</span>
        </div>
        <div class="es-carousel">
          <ul>
            <% @photos.each do |photo| %>
              <li><a href="#"><img src="<%=  photo ? photo.small : ""%>" data-large="<%=  photo ? photo.origin : ""%>" alt="image01"/></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="/js/jquery.elastislide.js"></script>
<script type="text/javascript" src="/js/gallery.js"></script>