<div>
  <div class="user_image"></div>
  <div class="comment_text">
    <h4><%= @comment.user.name %></h4>
    <p><%= @comment.text %></p>
    <h5 class="date_text"><%= Time.at(@comment.created_at).strftime("%k:%M %d-%m-%Y") %></h5>
  </div>
</div>