<div class="news" style="background-image: url(<%= @photo ? @photo.large : "" %>)">
<div class="news_title">
  <div class="new_title">
  	<strong><%= @post.title%></strong>
  </div>
</div>
</div>