<!doctype html>
<html>
<head>
   	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link href="/css/style.css" rel="stylesheet" type="text/css" />   
</head>
<body>
	<div class="banner_image">
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="#">News</a></li>
				<li><a href="/calendar">Calendar</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">About</a></li>
			</ul>
		</nav>
	</div>

	<% unless session[:user] %>
		<div class="button"><a href="/sign_in">Sign in</a></div>
		<div class="button"><a href="/sign_up">Sign up</a></div>
	<% else %>
		<div class="button"><a href="/logout">Logout</a></div>
	<% end %>

	<p><%= session[:error] %></p>
	<% session[:error] = "" %>
	<div class="posts">
		<%= yield %>
	</div>
</body>	
</html>