<!doctype html>
<html>
<head>
   	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link href="/css/style.css" rel="stylesheet" type="text/css" />   
</head>
<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="#">News</a></li>
			<li><a href="/calendar">Calendar</a></li>
			<li><a href="#">Photos</a></li>
			<li><a href="#">About</a></li>
		</ul>
	</nav>
	<div class="banner_image"></div>	
	<% if session[:user] == nil %>
		<div class='button' id="sign_in_button">
			
			<a class="link" id="sign_in_link" href="/sign_in">S</a>

			<form id="login_form" method="post" action="/sign_in">
				<input type="text" name="login" size="10">
				<input type="text" name="password" size="10">
				<input id="login_button" type="submit" value="Sing in" name="submit">
			</form>
		</div>
		<div class="button" id="sign_up_button">
			<a class="link" href="/sign_up">R</a>
		</div>
		
	<% else %>
		<div class="button" id="logout_button">
			<a class="link" href="/logout">L</a>
		</div>
	<% end %>

	<p><%= session[:error] %></p>
	<% session[:error] = "" %>
	<div class="posts">
		<%= yield %>
	</div>
</body>	
</html>