<div class="new_user_form">
	<form method="post" action="/new_user">
		<p>
			<label for="name">Name</label>
			<input id="name" type="text" name="name">
		</p>
		<p>
			<label for="email">Email</label>
			<input id="email" type="text" name="email">
		</p>
		<p>
			<label for="login">Login</label>
			<input id="login" type="text" name="login">
		</p>
		<p>
			<label for="password">Password</label>
			<input id="password" type="password" name="password">
		</p>
		<p id="panel">
			<input  id="button_send" type="submit" value="Save user" name="submit">
		</p>
	</form>
</div>