<div class="container">
  <ul class="tabs">
      <li><a href="#tab1">Cikk</a></li>
      <li><a href="#tab2">Alkalom</a></li>
      <li><a href="#tab3">Fényképek</a></li>
  </ul>
  <div class="tab_container">
    <div id="tab1" class="tab_content">
      <h2>Új cikk</h2>
      <form class="" name="post_form" method="post" action="/post/save" enctype="multipart/form-data">
        <input class="w-input" type="text" placeholder="A cikk címe" id="title" name="title" data-name="Name" required="required" autofocus="autofocus"></input>
        <textarea class="w-input" placeholder="Rövid leírás" id="subtext" name="subtext" required="required"></textarea>
        <textarea class="w-input" placeholder="A cikk" id="text" name="text" required="required"></textarea>
        <h5>Címlap kép</h5>
        <input class="w-input" type="file" id="header_img" name="header_img" placeholder="Example Text" name="field" required="required"></input>
        <h5>Kis kép</h5>
        <input class="w-input" type="file" id="title_img" name="title_img" placeholder="Example Text" name="field" required="required"></input>
        <input class="w-button send_button" type="submit" value="Elküldeni" data-wait="Please wait..."/>
      </form>
    </div>
    <div id="tab2" class="tab_content">
      <h2>Új alkalom</h2>
      <form class="" name="post_form" method="post" action="/event/new" enctype="multipart/form-data">
        <div class="">
          <input class="w-input" type="text" placeholder="A cikk címe" id="title" name="event[title]" required="required" autofocus="autofocus"></input>
          <p class="w-input">
            <select id="day" name="day">
            </select>
            <select id="month" onchange="daysChange()" name="month">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
            <select id="year" onchange="daysChange()" name="year">
              <option>2013</option>
              <option>2014</option>
              <option>2015</option>
              <option>2016</option>
              <option>2017</option>
              <option>2018</option>
              <option>2019</option>
              <option>2020</option>
            </select>
          </p>
          <textarea class="w-input" placeholder="Rövid leírás" id="subtext" name="event[subtext]" required="required"></textarea>
        </div>
        <input class="w-button send_button" type="submit" value="Elküldeni" data-wait="Please wait..."/>
      </form>
    </div>
    <div id="tab3" class="tab_content">
      <h2>Fényképek</h2>
       <form class="" name="post_form" method="post" action="/post/upload_photo" enctype="multipart/form-data">
        <input class="w-input" type="text" placeholder="Az album cime" id="title" name="title" data-name="Name" required="required" autofocus="autofocus"></input>
        <textarea class="w-input" placeholder="Rövid leírás" id="subtext" name="subtext" required="required"></textarea>
        <input class="w-input photo_iput" type="file" id="title_img" name="img[0]" placeholder="Example Text" name="field" required="required"></input>
        <input id="add_input" type="button" value="+"/>

        <input class="w-button send_button" type="submit" value="Elküldeni" data-wait="Please wait..."/>
      </form>
    </div>
  </div>
</div>