<form id="commentform" method="post" action="/new_user">
	<p>Name</p>
	<input type="text" name="name">
	<p>Login</p>
	<input type="text" name="login">
	<p>Password</p>
	<input type="text" name="password">
	<p>
	<input  type="submit" value="Save user" name="submit">
</form>