<form class="form form_new_post" method="post" action="/post/save" enctype="multipart/form-data">
  <div class="form_block">
    <h1>Új cikk</h1>
    <input class="w-input" type="text" placeholder="A cikk címe" name="title" data-name="Name" required="required" autofocus="autofocus"></input>
    <textarea class="w-input" placeholder="Rövid leírás" name="subtext" required="required"></textarea>
    <textarea class="w-input" placeholder="A cikk" name="text" required="required"></textarea>
    <input class="w-input" type="file" name="header_img" placeholder="Example Text" name="field" required="required"></input>
    <input class="w-input" type="file" name="title_img" placeholder="Example Text" name="field" required="required"></input>
  </div>
  <div class="footer_form">
    <input class="w-button send_button" type="submit" value="Elküldeni" data-wait="Please wait..."></input>
  </div>
</form>