<form  method="post" action="/save_post">
	<p>Title</p>
	<input type="text" name="title">
	<p>Text</p>
	<input type="text" name="text">
	<input  type="submit" value="Send post" name="submit">
</form>