<form class="form form_sign_up" method="post" action="/sign_up">
  <div class="form_block">
    <h1>Regisztráció</h1>
    <input class="w-input" type="text" placeholder="Felhasználónév vagy" name="user[name]" required="required"></input>
    <input class="w-input" type="text" placeholder="Email cím" name="user[email]" required="required"></input>
    <input class="w-input" type="text" placeholder="Login" name="user[login]" required="required"></input>
    <input class="w-input" type="password" placeholder="Jelszó" name="user[password]" required="required"></input>
  </div>
  <div class="footer_form">
    <input class="w-button send_button" type="submit" value="Elküldeni" data-wait="Please wait..."></input>
  </div>
</form>