	<div class="sign_in_form">
	<form method="post" action="/sign_in">
		<p>
			<label for="login">Login</label>
			<input required id="login" type="text" name="login">
		</p>
		<p>
			<label for="password">Password</label>
			<input required id="password" type="password" name="password">
		</p>
		<p id="panel">
			<input type="submit" value="Save user" name="submit">
		</p>
	</form>
</div>