<div class="new_user_form">
	<form method="post" action="/sign_up">
		<p>
			<label for="name">Name</label>
			<input id="name" type="text" name="name" required>
		</p>
		<p>
			<label for="email">Email</label>
			<input id="email" type="text" name="email" required>
		</p>
		<p>
			<label for="login">Login</label>
			<input id="login" type="text" name="login" required>
		</p>
		<p>
			<label for="password">Password</label>
			<input id="password" type="password" name="password" required>
		</p>
		<p id="panel">
			<input type="submit" value="Save user" name="submit">
		</p>
	</form>
</div>