body{
	border: 0 none;
	margin: 0;
	padding: 0;
}
nav{
	padding: 20px;
	width: 900px; /* Ширина слоя */
    color: #fff;
}
ul{
    padding: 0; 
    list-style: none;
    display: inline;
    margin: 0 auto; 
}
li {
 	display: inline;
 	padding: 10px;
}
.settings{
	position: absolute;
	top: 20px;
	right: 0;
}
.button{
	padding: 10px;	
	background-color: #a4c424;
	margin: 5px;
}
.button a {
	color: #fff;
	text-decoration: none;
	font-size: 1em;
}
.banner_image a {
	text-decoration: none;
	color: #fff;
	font-size: 1.4em;
}
a:hover{
	text-decoration: underline;
}
.link{
	position: absolute;
	font-size: 1.7em;
	right: 10px;
	padding: 4px;
}
.banner_image{
	background-color: #555;
}
.post{
	margin: 15px 10% 15px 10%;
    background: #3594cb;
    color: #fff;
    padding: 2em;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    border-radius: 5px;
}
.post a{
	color: #fff;
}
.post h2{
	margin-top: 0px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
.post h3{
	float: right;
}
.new_user_form, .sign_in_form{
	width: 600px; /* Ширина слоя */
	height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid #ddd;
    -moz-border-radius: 10px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.sign_in_form{
	height: 250px;
}
.new_user_form p, .sign_in_form p{
	width: 400px;
	margin: 10px;
	margin-left: 80px;
	float: left;
	padding: 5px;
	font-size: 1.4em;
}

.new_user_form input, .sign_in_form input{
	background: #ffffff;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    width: 250px;
    font-size: 1.4em;
    float:left;
}
label{
	padding: 10px;
	float: left;
	width: 100px;
	text-align:right;
	margin-right: 10px;
}

#panel{
	width: 100%;
	height: 100px;
	margin: 0;
	padding: 0;
	background-color: #a4c424;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
}
#panel input{
	margin-top: 20px;
	margin-left: 180px;
	border: none;
	color: #fff;
	padding: 10px;
	background-color: #1a962b;	
}
/*-------- /new_post --------*/
.post_form{
	width: 600px;
	padding: 0 100px;
	font-size: 1.2em;
	margin: 0 auto;
	border: 1px solid #ddd;
}
.post_form input{
	font-size: 1.2em;
	padding: 5px;
	width: 600px;
}
.post_form textarea{
	font-size: 1.2em;
	margin: 0 auto;	
	font-size: inherit;
	width: 600px;
	height: 100px;
}
.post_form #send_button, .comment_form input{
	border: none;
	color: #fff;
	padding: 10px;
	background-color: #1a962b;	
}

/*-------- /post/:id; --------*/
#comments{
	margin: 10px 10% 10px 10%;
}
.comment_form textarea{
	width: 500px;
	height: 100px;
}
.comment_form{
	margin: 10px 10% 10px 10%;
}
.comment{
	margin: 30px;
}
.photo{
	margin-bottom: 50px;
	background-size: cover;
	position: absolute;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
	border: 2px solid #ddd;
}
.photo span{
	position: absolute;
	bottom: -30px;
	text-align: center;
	width: 100%;
}
.comment_content{
	margin-left: 150px;
	border: 2px solid #ddd;	
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 0px 10px 0 20px;

}
.comment_date{
	color: #555;
}
.comment_user{
	font-style: oblique;
	color: #555;
}
.triangle {
	margin-top: 30px; 
	margin-left: 135px;
	float: left;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid #ddd;
    border-bottom: 15px solid transparent;
}